@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  background-color: #535fe6;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.form-input {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-control {
  text-indent: 5px;
  font-size: 15px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #4f63e7;
}

main > *{
  margin: 50px;
}
